
.button-blue {
  color: var(--blue);
  background-color: transparent;
  border: 1px solid var(--blue);
  box-shadow: inset 0 0 0 1px var(--blue);
  border-radius: var(--border-radius);
  transition: background-color .1s ease-out;
}

.button-blue:hover {
  color: white;
  background-color: var(--blue);
}

.button-blue:active,
.button-blue.is-active {
  box-shadow: inset 0 2px 2px rgba(#000,.25);
}

.button-blue:focus {
  outline: none;
  color: white;
  background-color: var(--blue);
  border: 1px solid var(--dark-blue);
  box-shadow: inset 0 0 0 1px var(--blue), 0 0 1px 2px rgba(var(--blue), .5);
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}

