/*
 * Basscore
 * Minimal theme for Basscss
 */

@import "basscss-base";
@import "basscss-utilities";
@import "basscss-grid";
@import "basscss-table-object";
@import "flex-object";

@import "./color/base";
@import "./color/borders";
@import "./color/button-blue";
@import "./color/button-red";
@import "./color/button-gray";
@import "./color/colors";
@import "./color/form-field-light";
@import "./color/tables";

:root {

  --h1: 3rem;
  --h2: 2rem;
  --h3: 1.125rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: 500;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --blue: #0076df;
  --dark-blue: #0056bf;
  --dark-gray: #333;
  --mid-gray: #999;
  --light-gray: #ccc;
  --lighter-gray: #eee;

  --red: #f95020;
  --dark-red: #d93000;
  --green: #00cf26;

  --darken-1: rgba(#000, .25);
  --darken-2: rgba(#000, .5);

  --border-color: var(--mid-gray);
  --border-radius: 4px;

}

